
{{log card.data}}

<div class="datum card-icon">
  <img src={{icon}}>
</div>

<div class="datum card-number">
  <span class="mask">
    ••••
  </span>
  <span class="last-four">
    {{card.last4}}
  </span>
</div>

<div class="datum card-exp-date">
  {{card.exp_month}} / {{card.exp_year}}
</div>
